<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<header>
    <div class="header">
        <div class="logo">
             <a href="/" >Code Fellow Ship </a>
        </div >
        <div class="header-right">

            <a href="/signup">Sign Up</a>
            <a href="/profile">Profile</a>
        </div>
    </div>
</header>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h1>Log-In </h1>

<form action="/login" method="post">
    <div><label> Username : <input type="text" name="username"/> </label></div>
    <div><label> Password : <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

</body>
<footer>
    <h2>Code Fellow Ship &copy;</h2>
</footer>
</html>